.container {
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding: 10vh 10vh;
    background-color: white;
    margin-top: 10vh;
    margin-bottom: 10vh;
    box-sizing: border-box;

    .upperDiv {
        display: flex;
        gap: 20px;
        margin-bottom: 10vh;

        .imgDiv {
            img {
                width: 600px;
                height: 450px;
            }
        }
        .allat {
            .crumbs {
                font-family: 'Roboto';
                color: rgb(107, 107, 107);
                // font-size: ;
                font-weight: 600;
            }
            .category {
                text-transform: capitalize;
                color: #de453e;
                font-family: 'Roboto';
                font-weight: 500;
            }
            .name {
                font-family: 'Racing Sans One';
                font-size: 170%;
                margin: 0;
                margin: 20px 0;
            }
            .price {
                font-family: 'Roboto';
                color: rgb(80, 80, 80);
                font-weight: 900;
                font-size: 150%;
                margin: 0;
            }
            .description {
                font-family: 'Roboto';
                color: rgb(82, 82, 82);
                font-weight: 500;
            }
            .cartDiv {

            }
            .allatLine {
                border-top: 1px solid gray;
                margin: 20px 0px;
            }
            .category2 {
                font-family: 'Roboto';
                color: gray;

                span {
                    color: #de453e;
                    font-family: 'Roboto';
                    text-transform: capitalize;
                }
            }
        }
    }
    .lowerDiv {
        .lowerLine {
            border-top: 1px solid gray;
        }
        .whatisthisdiv {
            display: flex;

            .descriptionBtn {
                padding: 15px;
                font-family: 'Roboto';
                font-weight: 900;
                border-top: 3px solid #de453e;
            }
            .reviewsBtn {
                padding: 15px;
                font-family: 'Roboto';
                font-weight: 900;
                border-top: 3px solid white;
            }
        }
        .desc {
            padding: 0px 15px;
            font-family: 'Roboto';
            font-weight: 500;
            color: rgb(99, 99, 99);
        }
    }
}