<app-shop-page-header></app-shop-page-header>
<div class="container">
    <div class="upperDiv">
        <div class="imgDiv">
            <img src="{{image}}" alt="">
        </div>
        <div class="allat">
            <p class="crumbs"><span routerLink='/home'>Home</span> / <span routerLink="/shop">Shop</span> / <span>{{name}}</span></p>
            <p class="category">{{category}}</p>
            <p class="name">{{name}}</p>
            <p class="price">{{currentPrice}} {{currency}}</p>
            <p class="description">{{description}}</p>
        </div>
    </div>
</div>