<div class="container">
    <h3>Our Process​</h3>
    <div class="cards">
        <div class="card">
            <p class="num">01.</p>
            <p class="name">Research</p>
            <p class="desc">Lorem ipsum dolor sit amet, consec tetur elit. Ut elit tellus, luctus nec ullam corper.</p>
        </div>
        <div class="card">
            <p class="num">02.</p>
            <p class="name">Idea & Concept</p>
            <p class="desc">Lorem ipsum dolor sit amet, consec tetur elit. Ut elit tellus, luctus nec ullam corper.</p>
        </div>
        <div class="card">
            <p class="num">03.</p>
            <p class="name">Design & Production​</p>
            <p class="desc">Lorem ipsum dolor sit amet, consec tetur elit. Ut elit tellus, luctus nec ullam corper.</p>
        </div>
        <div class="card">
            <p class="num">04.</p>
            <p class="name">Sales & Service​</p>
            <p class="desc">Lorem ipsum dolor sit amet, consec tetur elit. Ut elit tellus, luctus nec ullam corper.</p>
        </div>
    </div>
</div>