<div class="outerContainer">
    <div class="innerContainer">
        <div class="logo">
            <img src="../../assets/footerlogo.png"/>
        </div>
        <div class="usefulLinks">
            <p>useful links</p>
            <ul>
                <li>Home</li>
                <li>Shop</li>
                <li>About Us</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div class="ourCollection">
            <p>our collection</p>
            <ul>
                <li>Mountain Bikes</li>
                <li>City Bikes</li>
                <li>Speciality Bikes</li>
                <li>Electric Bikes</li>
            </ul>
        </div>
        <div class="account">
            <p>account</p>
            <ul>
                <li>Registration</li>
                <li>Login</li>
            </ul>
        </div>
    </div>
</div>