.container {
    max-width: 1250px;
    width: 100%;
    margin: auto;
    padding: 0 2.5vw;

    p {
        font-family: 'Racing Sans One';
        margin-top: 130px;
        font-size: 400%;
        text-transform: uppercase;
        text-align: center;
    }
    .cardDiv {
        display: grid;
        width: 100%;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 150px;
        gap: 2%;

        .card {
            height: 350px;
            border: 1px solid black;
            width: 100%;
        }
    }
}
@media (max-width: 1380px) {
    .container {
        max-width: 1000px;

        .cardDiv {
            grid-template-columns: repeat(2, 300px);
            grid-template-rows: 1fr 1fr;
            justify-content: center;
        }
    }
}