.container {
    max-width: 1300px;
    width: 100%;
    margin: auto;

    p {
        font-family: 'Racing Sans One';
        margin-top: 130px;
        font-size: 400%;
        text-transform: uppercase;
        text-align: center;
    }
    .cardDiv {
        display: grid;
        grid-template-columns: 23% 23% 23% 23%;
        gap: 2%;
        width: 100%;
        margin-bottom: 150px;

        .card {
            height: 350px;
            border: 1px solid black;
        }
    }
}
