<div class="container">
    <div class="filterSide"></div>
    <div class="productSide">
        <div class="titles">
            <p>Shop</p>
            <h1>Bicycles</h1>
        </div>
        <div class="cards">
            @for (item of product.products; track $index) {
                <div class="card">
                    <img src="">
                    <p class="category"></p>
                    <p class="name"></p>
                    <div class="rating">

                    </div>
                    <p class="price"></p>
                </div>
            }
        </div>
    </div>
</div>