<div class="container">
    <div class="filterSide"></div>
    <div class="productSide">
        <div class="titles">
            <p>Shop</p>
            <h1>Tech</h1>
        </div>
        <div class="cards">
            @for (item of product; track $index) {
                <div (click)="goToItemPage(item.title, item.price.current, item.price.currency, item.description, item.thumbnail, item.category.name)" style="width: 250px; height: 400px;" class="card">
                    <img style="width: 100%; height: 40%;" src="{{item.thumbnail}}">
                    <p style="font-family: 'Roboto'; font-weight: 500; color: gray;" class="category">{{item.category.name}}</p>
                    <p style="font-family: 'Racing Sans One';" class="name">{{item.title}}</p>
                    <div class="rating"></div>
                    <p style="font-family: 'Roboto'; color: rgb(114, 114, 114); font-weight: 700;" class="price">{{item.price.current}} <span>{{item.price.currency}}</span></p>
                </div>
            }
        </div>
        <div class="pagination">
            <div (click)="firstPage()" class="p p1">1</div>
            <div (click)="secondPage()" class="p p2">2</div>
            <div (click)="thirdPage()" class="p p3">3</div>
            <div (click)="fourthPage()" class="p p4">4</div>
        </div>
    </div>
</div>