.header {
    background-color: black;
    height: 90px;
    display: flex;
    width: 100%;
    
    .innerContainer {
        display: flex;
        max-width: 1300px;
        width: 100%;
        margin: auto;
        align-items: center;
        justify-content: space-between;

        .links {
            display: flex;
            gap: 15px;
        }
    }
}