<div class="header">
    <div class="innerContainer">
        <div class="logo">
            <img src="../../assets/ngLogo.png" alt="">
        </div>
        <div class="links">
            <a routerLink="/home">HOME</a>
            <a routerLink="/shop">SHOP</a>
            <a routerLink="/about">ABOUT US</a>
            <a href="">CONTACT</a>
        </div>
        @if (status) {
        <div class="loginSignUp">
            <a routerLink="/cart">CART</a>
            <a>PROFILE</a>
        </div>   
        }
        @else {
        <div class="loginSignUp">
            <a routerLink="/signup">SIGN UP</a>
            <a routerLink="/login">LOGIN</a>
        </div>
        }
    </div>
</div>