<div class="container">
    <div class="innerContainer">
        <p>Discover The Collection</p>
        <p>City Bikes</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit<br>
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus.</p>
        <ul>
            <li>Officia deserunt mollit</li>
            <li>Excepteur sint occaecat</li>
            <li>Sunt in culpa qui</li>
        </ul>
        <ul>
            <li>Officia deserunt mollit</li>
            <li>Excepteur sint occaecat</li>
            <li>Sunt in culpa qui</li>
        </ul>
        <br>
        <button>EXPLORE NOW</button>
    </div>
</div>