.container {
    max-width: 1300px;
    width: 100%;
    margin: auto;

    p {
        font-family: 'Racing Sans One';
        color: rgb(0, 0, 0);
        font-size: 400%;
        margin: 0;
        text-transform: uppercase;
        margin-bottom: 50px;
        margin-top: 150px;
        text-align: center;
    }
    .name {
        color: white;
        font-family: 'Racing Sans One';
        font-size: 150%;
        margin: 0;
        text-align: start;
    }
    .year {
        color: #df453e;
        font-size: 150%;
        margin: 0;
        text-align: start;
    }

    .cards {
        display: grid;
        grid-template-areas: 
            'small1 big1 big1'
            'small2 big1 big1'
            'big2 big2 small3'
            'big2 big2 small4';
        // padding-bottom: 200px;
        height: 1000px;
        gap: 30px;

        .small1 {
            background-image: url(../../assets/small1.jpg);
            grid-area: small1;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .small2 {
            background-image: url(../../assets/small2.jpg);
            grid-area: small2;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .small3 {
            background-image: url(../../assets/small3.jpg);
            grid-area: small3;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .small4 {
            background-image: url(../../assets/small4.jpg);
            grid-area: small4;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .big1 {
            background-image: url(../../assets/big1.jpg);
            grid-area: big1;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .big2 {
            background-image: url(../../assets/big2.jpg);
            grid-area: big2;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
.something {
    position: relative;
    z-index: 0;
    opacity: 1;
    padding: 30px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}
.something::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(180deg, #00000069 0%, #161616 100%);
    z-index: -1;
    pointer-events: none;
}