<div class="container">
    <p>Explore The Stories</p>
    <div class="cards">
        <div class="small1 something">
            <p class="year">2002</p>
            <p class="name">get on & go!</p>
        </div>
        <div class="small2 something">
            <p class="year">2004</p>
            <p class="name">first garage & shop</p>
        </div>
        <div class="big1 something">
            <p class="year">2005</p>
            <p class="name">first cycle launched</p>
        </div>
        <div class="big2 something">
            <p class="year">2005</p>
            <p class="name">first #goecobiking event</p>
        </div>
        <div class="small3 something">
            <p class="year">2008</p>
            <p class="name">100+ service networks</p>
        </div>
        <div class="small4 something">
            <p class="year">today</p>
            <p class="name">50+ models & accessories</p>
        </div>
    </div>
</div>