.container {
    background-image: url("../../assets/bike-hero.jpg");
    background-position:  center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    width: 100%;

    .mainWrapper {
        display: flex;
        flex-direction: row-reverse;
        width: 100vw;

        .sideBlack {
            background-color: rgb(216, 59, 59);
            opacity: 0.6;
            width: 50vw;
            height: 100vh;
        }
        .sideRed {
            background-color: rgb(27, 27, 27);
            opacity: 0.6;
            width: 50vw;
            height: 100vh;

        }
       .keeper {
            position: absolute;
            top: 20%;
            left: 15%;
            width: 50vw;

            p:nth-child(1) {
                color: white;
                font-family: 'Racing Sans One';
                font-size: 200%;
                text-transform: uppercase;
            }
            p:nth-child(2) {
                color: white;
                font-family: 'Racing Sans One';
                text-transform: uppercase;
                font-size: 500%;
            }
            p:nth-child(3) {
                color: white;
                font-family: 'Racing Sans One';
                text-transform: uppercase;
                font-size: 150%;
            }
            ul {
                list-style: none;
                padding: 0;
                margin-bottom: 5%;

                li {
                    color: white;
                    font-family: sans-serif;
                    font-weight: 600;
                    list-style-image: url(../../assets/bullseye-solid\ \(4\).svg);
                    margin-bottom: 5px;
                    margin-left: 20px;
                }
            }
            button {
                background-color: rgb(206, 72, 72);
                color: white;
                font-family: sans-serif;
                outline: none;
                border: none;
                padding: 15px 20px;
                font-weight: 600;
            }
        }
    }
}
p {
    margin: 3% 0%;
}