<div class="container">
    <div class="mainWrapper">
        <div class="sideBlack"></div>
        <div class="sideRed"></div>
        <div class="keeper">
            <p>Newly Launched</p>
            <p>Kryo X26<br>MTB</p>
            <p>Specifications:</p>
            <ul>
                <li>Lightweight 18" Frame</li>
                <li>Steel Suspension Fork</li>
                <li>Steel Hardtail Frame</li>
            </ul>
            <button>BUY NOW</button>
        </div>
    </div>
</div>