.container {
    background-image: url("../../assets/bike-hero.jpg");
    background-position:  center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1300px;
    width: 100%;
    height: 100vh;
}